SERVER_NAME=papua merdeka
SERVER_WORLD=WaBot
SERVER_PASSWORD=replace-with-a-random-password
SERVER_VISIBILITY=1
ENABLE_PLUGINS=false
ENABLE_CROSSPLAY=true
SERVER_SAVE_INTERVAL=900
SERVER_BACKUPS=6
SERVER_BACKUP_SHORT=7200
SERVER_BACKUP_LONG=43200
SERVER_PRESET=hard
