CONTROL_HOST=127.0.0.1
CONTROL_PORT=8787
CONTROL_BASE_URL=https://server.fahrelgibran.com
PLAYER_BASE_URL=https://play.fahrelgibran.com
MINECRAFT_ADDRESS=mc.fahrelgibran.com
CONTROL_INTERNAL_TOKEN=
CONTROL_AUTH_DISABLED=false
GAME_DEPLOY_DIR=/home/ubuntu/valheim-server-arm
GAME_STATE_DIR=/var/lib/dapex-game-control
GAME_OPERATION_LOCK=/var/lock/dapex-game-control.lock
VALHEIM_CONTAINER=valheim
MINECRAFT_CONTAINER=minecraft
MINECRAFT_VERSION=1.21.1
FABRIC_LOADER_VERSION=0.19.5
MINECRAFT_PROFILE_NAME="Dapex Fabric"
CURSEFORGE_API_KEY=
MAX_UPLOAD_MIB=512
